body {
    background-image: url('./img/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.navbar{
    background: rgb(2,0,36);
background: linear-gradient(rgb(7, 62, 11) 35%, rgb(1, 36, 6) 100%);
    height:16vh;
    margin-bottom: 1rem;
    opacity: 80%;

}

.navbar a{
    color: white;
    display: block;
    float: right;
    margin-left: 10px;
}

.box{
    height: 80vh;
    width: 450px;
    background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(99,124,212,0.5057424336922269) 44%, rgba(0,212,255,1) 100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5% 5% ;
  
}

.box input[type=text]{
    width: 450px;
    height: 15vh;
    background: rgb(11, 11, 11);
    border-style: solid;
    border-width: 20px 10px ;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    margin-bottom: 1rem;
    color: rgb(254, 192, 5);
    font-style: bold;
    font-weight: 900;
    font-size: x-large;
    text-align: right;
    padding: 0 10px;
}

.box input[type=text]:hover{
  background: rgb(2, 46, 0);
}

input[type=button]{
    width: 3.5rem;
    height: 2.5rem;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 5px 7px;
    font-size:20px;
    background: black;
    color: white;
    border-radius: 5px;


}

input[type=button]:hover{
  color:black;
  background: skyblue;
}
#btnf{
    width: 3.5rem;
    height: 5.7rem;
    float: right;
    margin-right: 14px;
    margin-top: 6px;
    background: black;
    color: white;
    font-size:20px;

    
}

#btnf:hover{
  color: white;
  background: green;
}


.fa {
    
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    border-radius: 50%;
    border: 1px solid white;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: transparent;
    color: white;
  }
  
  .fa-twitter {
    background: transparent;
    color: white;
  }

  .fa-instagram {
    background: transparent;
    color: white;
  }
  